<div class="container">
  <h1>Lists</h1>

    <ul>
      <% published_lists(@user).each do | list | %>
          <li class="d-flex justify-content-between">
          <%= link_to list.title, user_list_path(current_user, list) %>
            <i class="fa-solid fa-thumbs-up">
            <%= list.votes ? list.votes : "new" %>
          </i>
          </li>
        <% end %>
    </ul>

  <br>
  <br>

  <% if hide_button(@user)%>
    <%= link_to "+ Create List", new_user_list_path  %>
  <% end %>
</div>
<%# show all users lists %>
<%# lists need to link to list show page %>
<%# look at rendering list-item form on this page %>
