<h1>My Lists</h1>

  <ul>
<% @lists.each do | list | %>
    <li><%= link_to list.title, user_list_path(current_user, list) %>
    </li>
  <% end %>
  </ul>

<br>
<br>
<%= link_to "+ Create List", new_user_list_path  %>
<%# show all users lists %>
<%# lists need to link to list show page %>
