<div class="container">
  <h1>My Lists</h1>

    <ul>
  <% current_user.lists.each do | list | %>
      <li class="d-flex justify-content-between">
      <%= link_to list.title, user_list_path(current_user, list) %>
      <%= list.votes ? list.votes : "new" %>
      </li>
    <% end %>
    </ul>

  <br>
  <br>
  <%= link_to "+ Create List", new_user_list_path  %>
</div>
<%# show all users lists %>
<%# lists need to link to list show page %>
