<div class="container pad">

  <div class="d-flex justify-content-between">
    <h1>New List</h1>
    <%= link_to :back, class:"back-button" do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
  </div>

  <%# title, tag, photo %>
  <%= render "list_title_form" %>

</div>
