<div class="container pad">

  <div class="d-flex">
    <%= link_to '<', current_user, class:"back-button" %>
    <h1>New List</h1>
  </div>

  <%# title, tag, photo %>
  <%= render "list_title_form" %>

</div>
