<div class="pad home-card">
  <div class="container d-flex flex-column justify-content-around logo-wrap">

      <div class="welcome-card">
        <div class="d-flex justify-content-between align-items-center pb-3">
          <h3 id="new-list">New List</h3>
          <%= link_to :back, class:"back-button" do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>

          <%# title, tag, photo %>
          <%= render "list_title_form" %>

      </div>

  </div>
</div>
