<div class="pad home-card">
  <div class="container d-flex flex-column justify-content-around logo-wrap">


      <div class="welcome-card">
        <div class="d-flex">
          <%= link_to '<', current_user, class:"back-button" %>
          <h3>New List</h3>
        </div>

          <%# title, tag, photo %>
          <%= render "list_title_form" %>
      </div>

  </div>
</div>
