// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4A4A4A;
$gray: #0E0000;
$light-gray: #F4F4F4;


// listit color scheme
$li-green: #7FC8A9;
$li-green-shadow: #6dc09e;
$li-light-green: #CDF0EA;
$li-gray: #4A4A4A;
$li-red: #F94C66;
