// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4A4A4A;
$gray: #0E0000;
$light-gray: #F4F4F4;


// list-it color scheme
$li-green: #7FC8A9;
$li-green-shadow: #6dc09e;
$li-light-green: #CDF0EA;

$li-light-gray: #d3d3d3;
$li-gray: #808080;
$li-dark-gray: #434343;

$li-blue: #0046b9;
$li-light-blue: #b0c4de;

$li-red: #F94C66;
