.follow-list {
    padding : 0;
    margin : none;
  a {
    color : black;
    padding-left : 8px;
  }
  li {
    padding : 4px 0;
  }
}
.back-button {
  color : rgb(131, 131, 131);
  font-size : 24px;
  font-weight : bold;
  text-decoration : none;
  margin-right : 8px;

}
