// Specific CSS for your home-page
html {
  background-color: $li-green;
}

body {
  height: 100%;
  // overscroll-behavior: none;
}

body {
  background-color: white;
  overflow: none;
}

.home-card {
  background-color: $li-green;
  height: 100vh;
  text-align: center;
  padding: 50px 20px;
}

.home-logos {
  padding-bottom: 20px;
}

.logo-text {
  color: white;
}

.home-card-login {
  background-color: $li-green;
  height: 20vh;
  text-align: center;
  padding: 50px 20px;
  ul {
    padding: 0;
    margin: 0;
  }
}
.discover-header {
  height: 15vh;
  padding-top: 40px;
  text-align: center;
  background-color: $li-green;
}
// padding top and bottom
.pad {
  padding : 50px 12px;
}
.logo-wrap {
  height : 100%;
}


//  TEST STARTS

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.tag span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  font-size: 11px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center
}

.tag span a {
  text-decoration: none;
  color: #fed85d;
}

.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}
