// Specific CSS for your home-page
html {
  background-color: $li-green;
}

body {
  height: 100%;
  // overscroll-behavior: none;
}

body {
  background-color: white;
  overflow: none;
}

.home-card {
  background-color: $li-green;
  height: 100vh;
  text-align: center;
  padding: 50px 20px;
}

.home-logos {
  padding-bottom: 20px;
}

.home-card-login {
  background-color: $li-green;
  height: 20vh;
  text-align: center;
  padding: 50px 20px;
  ul {
    padding: 0;
    margin: 0;
  }
}
.discover-header {
  height: 15vh;
  padding-top: 40px;
  text-align: center;
  background-color: $li-green;
}
// padding top and bottom
.pad {
  padding : 50px 12px;
}
.logo-wrap {
  height : 100%;
}
