// Specific CSS for your home-page

html, body {
  height: 100%;
}

body {
  background-color: white;
  overflow: none;
}

.home-card {
  background-color: $li-green;
  height: 100vh;
  text-align: center!important;
  padding: 50px 20px;
}

.home-logos {
  padding-bottom: 20px;
}

.home-card-login {
  background-color: $li-green;
  height: 20vh;
  text-align: center!important;
  padding: 50px 20px;
  ul {
    padding: 0;
    margin: 0;
  }
}

.discover-header {
  height: 15vh;
  padding-top: 40px;
  text-align: center!important;
  background-color: $li-green;
}
