.profile-info, .profile-nav {
  background-color: white;
  ul {
    list-style: none;
    margin : 0;
    padding : 0;
  }
  li {
    text-align : center;
    display: inline-block;
    padding : 8px 8px;
  }
  p {
    font-size : 12px;
    color : $li-gray;
    margin : 0;
  }
  a {
    font-size : 18px;
    text-decoration: none;
    color : $li-gray;
  }
  i {
    color : $li-gray;
    padding : 8px 0;
  }
}

.user-bio {
  color : $li-gray;
  text-align: center;
  p {
    font-size : 14px;
  }
}

.active-tab {
    color : $li-green;
}

.stats{
  background: #F1F1F1 !important;
  border-radius: 8px;
}

.card {
  border: none;
}

.bio {
  font-size: small;
  margin : 0;
}

.votes {
  font-size: x-small;
}
.profile-nav {
  border-top : 1px lightgrey solid;
  border-bottom : 1px lightgrey solid;
  margin-bottom : 12px;
}
.profile-info {
  li {
    width : 30%;
  }
}
.card-info {
  height : 100%;
  padding-left : 12px;
  text-align: left;
  h4 {
    width: 100%;
  }
}
