<h1>My profile</h1>
<p><%= current_user.email %></p>
<p>following: <%= link_to current_user.followings.size, following_path %></p>
<p>followers: <%= link_to current_user.followers.size, followers_path %></p>
