<div class="bottom-navbar container flex justify-content-around-align-items-center">
  <ul class="d-flex justify-content-around">
  <li class="d-flex flex-column align-items-center"><i class="bi bi-search"></i>O</li>
  <li class="d-flex flex-column align-items-center">
  <%= link_to "+", new_user_list_path(current_user) %>
  </li>
  <li class="d-flex flex-column align-items-center"><i class="bi bi-heart"></i>V</li>
  </ul>
</div>
