 <% if current_user %>

    <div class="bottom-navbar flex justify-content-around-align-items-center">
    <ul class="d-flex justify-content-around">
      <li class="d-flex flex-column align-items-center">
      <%= link_to user_lists_path(current_user) do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      </li>

        <li class="d-flex flex-column align-items-center">
      <%= link_to new_user_list_path(current_user) do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
      </li>

      <li class="d-flex flex-column align-items-center">
      <%= link_to current_user do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
      </li>

    </ul>
    </div>

  <% end %>
