<div class="navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <div class="container white-font logo-text">

        <% if current_page?(root_path) && user_signed_in? %>
          <%= image_tag("https://res.cloudinary.com/mygreenhouses/image/upload/v1655547120/list-it/listit-icon_wordmark-horizontal_tgonja.png", height: 20, crop: :fill) %>
        <% elsif current_page?(user_path(current_user)) ||  %>
          <%= format_username(current_user.username) %>
        <% else %>

        <% end %>

    </div>

    <div class ="navbar" id="navbarSupportedContent">
        <% if user_signed_in? %>
           <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <% end %>

        <% else %>
            <% link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
    </div>

  </div>
</div>
