<div class="container">
  <h1>Following</h1>
  <% @user.followings.each do |following| %>
    <ul>
      <li><%= link_to format_username(following.username), user_path(following) %></li>
    </ul>
  <% end %>
</div>
