<div class="container">
   <div class="d-flex">
    <%= link_to '<', current_user, class:"back-button" %>
    <h1>Following</h1>
  </div>
  <% @user.followings.each do |following| %>
    <ul class="follow-list">
      <li class="list-card-info d-flex justify-content-between">
        <div class="list-info d-flex align-items-center">
          <%# user image %>

          <%# following user %>
          <%= link_to following.email, user_path(following) %>
        </div>
        </li>
    </ul>
  <% end %>
</div>
