.btn-ghost {
  color: $li-green;
  border: 1px solid $li-green;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: white;
  transition: opacity 0.3s ease;
}

.btn-ghoul {
  color: white;
  border: 1px solid white;
  padding: 6px 22px;
  border-radius: 50px;
  background-color: rgb(26, 74, 219);
}
.btn-ghoul-active {
  background-color : white;
  color : rgb(26, 74, 219);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $li-green;
  transition: background 0.3s ease;
}

.btn-follow {
  color: white;
  padding: 4px 0px;
  border-radius: 4px;
  width: 100%;
  background: $li-green;
  transition: background 0.3s ease;
}

a.btn.btn-follow { color: #fff; }
a.btn.btn-flat, input.btn.btn-flat { color: #fff;}
a.btn.btn-ghost { color: $li-green; }

// to avoid forms to have a blue border
.form-control:focus {
  outline: none !important;
  border: 1px solid $li-green !important;
  box-shadow: 0 0 3px $li-green !important;
}

// remove blue border from buttons
.btn-follow:focus, a.btn-flat:focus, input.btn-flat:focus {
  outline: none !important;
  box-shadow: none;
  border-color: transparent;
}

.btn-ghost:focus {
  outline: none !important;
  box-shadow: none;
  border-color: transparent;
  border: 1px solid $li-green;
}

.btn-alert {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $li-red;
  transition: background 0.3s ease;
}

.btn-alert:hover {
  background: $li-red;
  color: white;
}

.btn-search {
  color: white;
  padding: 8px 24px;
  background: $li-green;
  transition: background 0.3s ease;
}

.btn-pin, .btn-vote, .btn-share {
  padding : 0 8px;
  border : none;
  background-color : transparent;
  color : grey;
  font-size : 18px;
}
.btn-selected {
  color : $li-green;
}

#follow-btn {
  margin-top : 8px;
  width : 100% !important;
  input {
    width: 100%;
  }
}
