.btn-primary {
  background-color: $li-blue;
}
.btn-success {
  background-color: $li-green;
  color : white;
}
.btn-ghost {
  color: $li-green;
  border: 1px solid $li-green;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: white;
  transition: opacity 0.3s ease;
  font-size: 16px;
}

.btn-ghoul {
  color: $li-blue;
  border: 1px solid $li-blue;
  padding: 6px 22px;
  border-radius: 50px;
  background-color: white;
  font-size: 16px;
}
.btn-ghoul-active {
  color : white;
}

.back-button {
  margin-right : 0 !important;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $li-green;
  transition: background 0.3s ease;
}

.delBtn {
  margin-bottom : 0;
}
.infoBtn {
  z-index : 6;
  margin-bottom : 0;
  color : $li-light-blue;
  svg {
    color : inherit;
  }
}
.info-active {
  color : $li-blue;
}

.btn-follow {
  color: white;
  padding: 4px 0px;
  border-radius: 4px;
  width: 100%;
  background: $li-green;
  transition: background 0.3s ease;
}

.btn-publish {
  background: $li-green;
  color: white;
}

a.btn.btn-follow, a.btn.btn-publish, a#btn.btn-publish, button.btn.btn-search  { color: #fff; }
a.btn.btn-flat, input.btn.btn-flat { color: #fff;}
a.btn.btn-ghost { color: $li-green; }

// to avoid forms to have a blue border
.form-control:focus {
  outline: none !important;
  border: 1px solid $li-green !important;
  box-shadow: 0 0 3px $li-green !important;
}

// remove blue border from buttons
.btn-follow:focus, a.btn-flat:focus, input.btn-flat:focus, a#btn-publish:focus, a#preview.btn.btn-primary {
  outline: none !important;
  box-shadow: none;
  border-color: transparent;
}

.btn-ghost:focus {
  outline: none !important;
  box-shadow: none;
  border-color: transparent;
  border: 1px solid $li-green;
}

.btn-alert {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $li-red;
  transition: background 0.3s ease;
}

.publish-btn, #preview {
  margin : 0 4px;
}

.btn-search {
  color: white;
  padding: 8px 24px;
  background: $li-green;
  transition: background 0.3s ease;
}

.btn-pin, .btn-vote, .btn-share {
  padding : 0 8px;
  border : none;
  background-color : transparent;
  color : $li-gray;
  font-size : 18px;
}
.btn-selected {
  color : $li-green;
}

#follow-btn {
  margin-top : 8px;
  width : 100% !important;
  input {
    width: 100%;
  }
}
.primary-active {
  background-color: $li-light-blue;
  color: $li-blue;
}
.btn:focus {
  outline : none;
  box-shadow: none;
}
.my-handle {
  position : absolute;
  top : 8px;
  left : 4px;
  color : white;
  span {
    color : white;
  }
}
