.btn-ghost {
  color: $li-green;
  border: 1px solid $li-green;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $li-green;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $li-green;
  transition: background 0.3s ease;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $li-green;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $li-green-shadow;
  color: white;
}

.btn-alert {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $li-red;
  transition: background 0.3s ease;
}

.btn-alert:hover {
  background: $li-red;
  color: white;
}

.btn-search {
  color: white;
  padding: 8px 24px;
  background: $li-green;
  transition: background 0.3s ease;
}
.btn-selected {
  color : $li-green;
}
.btn-pin, .btn-vote, .btn-share {
  padding : 0 4px;
  border : none;
  background-color : transparent;
  color : grey;
}
