.list-card {
  ul {
    list-style: none;
    margin : 0;
    padding : 0;
  }
  li {
    padding : 8px;
    margin : 4px 0;
  }
}

.list-card-info {
  background-color: #f1f1f1;
  border-radius: 8px;
   a {
    text-decoration: none;
  }
}
.list-title-user {
  padding-left : 8px;
}
.list-title {
  color : black;
  font-size : 16px;
}

.username-italic {
    font-size : 14px;
    color : rgb(165, 163, 163);
    font-style: italic;
}

.test-red {
  border : 1px solid red;
  padding: 4px;
}
.test-green {
  border : 1px solid green;
  padding: 4px;
}
.test-blue {
  border : 1px solid blue;
  padding: 4px;
}
.test-purple {
  border : 1px solid purple;
  padding: 4px;
}

ul {
  list-style : none;
  padding-left: 0;
}
ol {
  padding-left: 18px;
}
