.my-handle {
	cursor: move;
	cursor: -webkit-grabbing;
}
.fa-xmark {
  color : lightgrey;
  padding-right : 8px;
}
.fa-circle-info {
  color : lightgrey;
}
.selected {
  color : green;
  font-weight : bold;
}
.list-details-bottom {
  width : 100%;
  padding : 8px 0 ;
  a {
    margin-bottom : 4px;
  }
}
.hide-nums {
  list-style : none;
  padding-left: 10px;
}
ol {
  padding-left: 28px;
}
.photo-container {
  position: relative;
}
.list-options {

}
// .list-options {
//   position: absolute;
//   padding : 8px;
//   width : 100%;
//   top : 0;
//   left: 0;
// }
.fa-eye, .fa-file {
  color : rgba(20, 61, 137, 0.8);
  font-size: 30px;
}
.fa-circle-check {
  color : $li-green;
  font-size : 40px;
  background-color: white;
  border-radius: 50%;
}
.fa-ellipsis-vertical {
  margin-right : 12px;
}
#preview {
  margin-right : 8px;
}
.btn-ghost {
  background-color: white;
  opacity : 1;
}
.form-check-label {
  display: block;
  text-align: left;
}
.art-info {
  font-size: 14px;
  color : lightgray;
  padding-bottom : 4px;
}
// published / created at
#create-info {
  width : 100%;
  border-top : 1px rgba(210, 208, 208, 0.7) solid;
  margin-top : 4px;
  em {
    color : grey;
    padding : 4px 0;
  }
}
.user-pin-vote {
  border-bottom : 1px solid lightgrey;
  a {
    font-size : 20px;
    color : $li-gray;
  }
}

// update form
#sort-form, #sort_form {
  margin-bottom : 12px;
}
#item_name, #item_description {
  border : none;
  background-color : transparent;
}
