.my-handle {
	cursor: move;
	cursor: -webkit-grabbing;
}
.fa-xmark {
  color : $li-light-gray;
  // padding-right : 8px;
}
.delBtn svg {
  padding-right : 8px;
}
.fa-circle-info {
  color : $li-light-gray;
}
.selected {
  color : $li-green;
  font-weight : bold;
}
.list-details-bottom {
  width : 100%;
  padding : 8px 0 ;
  a {
    margin-bottom : 4px;
  }
}
ol {
  padding-left: 28px;
}
.photo-container {
  position: relative;
}
// .list-options {
//   position: absolute;
//   padding : 8px;
//   width : 100%;
//   top : 0;
//   left: 0;
// }
// .fa-eye, .fa-file {
//   color : rgba(20, 61, 137, 0.8);
//   font-size: 30px;
// }
.fa-circle-check {
  color : $li-green;
  font-size : 40px;
  background-color: white;
  border-radius: 50%;
}
.fa-ellipsis-vertical {
  position: absolute;
  top : 0;
  right : 0;
  padding-top : 12px;
  padding-right : 10px;
  color : white;
  font-size: 16px;
}
.btn-ghost {
  background-color: white;
  opacity : 1;
}
.form-check-label {
  display: block;
  text-align: left;
}
.art-info {
  font-size: 14px;
  color : $li-light-gray;
  padding-bottom : 4px;
}
// published / created at
#create-info {
  width : 100%;
  border-top : 1px rgba(210, 208, 208, 0.7) solid;
  margin-top : 4px;
  em {
    color : grey;
    padding : 4px 0;
  }
}
.user-pin-vote {
  border-bottom : 1px solid lightgrey;
  a {
    font-size : 20px;
    color : $li-gray;
  }
}
#list-title {
  font-size : 9vw;
  font-weight : bold;
  font-family : "Work Sans"
}
.list-item {
  margin-bottom: 8px;
  background-color: rgba(216, 216, 216, 0.1);
  border-radius : 4px;
}
.list-item-title {
  width : 100%;
  text-align : center;
  margin-bottom : 0;
  color : $li-dark-gray;
}
#list-user {
  font-style: italic;
  color : $li-green;
  padding-left: 4px;
  font-size: 18px;
}
.add-list-item {
  padding-right : 24px;
  color : $li-gray;
}
.item-infos {
  margin-bottom : 6px;
}
.li-desc {
  font-size : 14px;
  text-align: center;
  padding: 0 8px;
  margin-bottom : 6px;
  color : $li-gray;
}
.tag > a {
  padding-right : 4px;
  font-style: italic;
  font-size : 14px;
  color : rgb(0, 70, 185);
}
.item-card {
  padding: 0 8px 0 8px;
}
// update form
#new-list {
  margin-bottom: 0;
}

#sort-form, #sort_form {
  margin-bottom : 12px;
}
#item_name, #item_description {
  border : none;
  background-color : transparent;
}
.simple_form .new_item {
  margin : 0 12px 8px 12px;
}
#sort-form, #new-item {
  #item_name {
  font-weight : bold;
  font-size : 17px;
  }
  #item_description {
    font-size : 15px;
  }
  #item_photo {
    font-size : 15px;
  }
}
