.list-card {
  ul {
    list-style: none;
    margin : 0;
    padding : 0;
  }
  li {
    padding : 12px;
    margin : 4px 0;
    border : 1px solid rgba(0, 0, 0, 0.1);
  }
}

.list-card-info {
  a {
    text-decoration: none;
    color : black;
  }
}
