.list-photo-thumbnail {
  width: 50px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.list-photo-thumbnail-big {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.list-photo-card {
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  height : auto;
  max-height: 175px;
  width: 100%;
  object-fit: cover;
}
.list-item-photo-box {
  padding-right : 10px;
}
.list-item-photo-card {
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  max-height : 300px;
  width: 300px;
  object-fit: cover;
}
