.tag-card {
  ul {
    list-style: none;
    margin : 0;
    padding : 0;
  }
  li {
    padding : 8px;
    margin : 4px 0;
  }
}

.tag-card-info {
  border-radius: 8px;
  color: $li-green;
}
.tag-name {
  padding-left : 8px;
  color: $li-green;
}

.tag-name a {
  text-decoration: none !important;
  color: $li-green;
}

.tag-show span {
  background-color: rgba(127, 200, 169, 0.3);
  width: 100%;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  display: flex;
  color: $li-green;
  justify-content: center;
  align-items: center
}

.tag-show span a {
  text-decoration: none;
  color: $li-green;
}
