.bottom-navbar {
  position : absolute;
  bottom : 0;
  left : 0;
  background: rgb(119, 203, 157);
  color : white;
  ul {
    list-style: none;
    margin : 0;
    padding : 8px 0;
  }
  li {
    color : black;
    font-size : 18px;
  }
  a {
    text-decoration: none;
    color : white;
    font-size : 20px;
    font-weight: bold;
  }
}
